.text0 {
    display: inline-block;
    position: relative;
    font-size:  30px;

    cursor: pointer;
    color: #e8e8e8;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.text0::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: transparent;
    background: linear-gradient(to right,
    #ff00ff, #00ffff);
    background-clip: text;
    transition: width 0.3s;
}

.text0:hover::before {
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1; /* Cho phép content mở rộng */
    padding: 20px; /* Tùy chỉnh padding nếu cần */
    /* Bạn có thể thêm các thuộc tính khác như margin, background-color, v.v. */
}
 .movie-buttons {
     display: none;
     margin-top: 10px;
     text-align: center;
 }

.box16:hover .movie-buttons {
    display: block;
}

.box16 {
    position: relative;
}

.box-content {
    position: relative;
}

.movie-buttons .button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin: 5px; /* Added margin for spacing */
}

.movie-buttons .button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    z-index: -2;
}

.movie-buttons .button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.movie-buttons .button:hover {
    color: #fff;
}

.movie-buttons .button:hover:before {
    width: 100%;
}



.movie-buttons .btn-primary:after {
    background-color: #007bff;
}


.alert-success { /* Hoặc class bạn đang sử dụng */
    z-index: 1001;
    position: relative; /* Hoặc absolute, fixed tùy theo bố cục */
    /* Thêm các thuộc tính CSS khác để стилизует thông báo */
}

#site-header.fixed-top {
    z-index: 1000;
}
